body{
    background-color: white;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: mintcream;
    border-radius: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
  }

.login
{
  padding: 10px 16px;
}

.Page_de_Connexion
{
  text-align: center;
  padding: 3% 5%;
}

.submit
{
  font-size: 2em;
}

input
{
  border-radius: 5px;
  font-style: bold;
}

.bigger
{
  font-size: 2em;
}